<div>
    <mat-card style="padding:0">
       <ul class="list-group" style="padding: 0;">
         <h5>Category</h5>
         <li class="list-group-item ">Business</li>
         <li class="list-group-item ">entertainment</li>
         <li class="list-group-item ">general</li>
         <li class="list-group-item ">health</li>
         <li class="list-group-item ">science</li>
         <li class="list-group-item ">sports</li>
         <li class="list-group-item ">technology</li>      
       </ul>
    </mat-card>

</div>
