<mat-toolbar>
  <button mat-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
  <span>News Today</span>
 
</mat-toolbar>

<mat-sidenav-container class="example-container" >
  <mat-sidenav #sidenav mode="side" >
      <mat-list>
        <mat-list-item id="navlist"  *ngFor="let source of sources"> 
            <img id="navimg" src="../../assets/images/{{source.id}}.png">
            {{source.name}}
        </mat-list-item>
   
      </mat-list>
         

  </mat-sidenav>
  <mat-sidenav-content>
      <div class="container">
          <div  class="row" >
            <div class=" col-md-4 col-sm-12 " *ngFor="let article of articles">
              <mat-card   >
                  <mat-card-title>{{article.title}}</mat-card-title>
                  <mat-card-subtitle>Source: {{article.source.name}} </mat-card-subtitle>
                  <mat-card-subtitle> publishedAt: {{article.publishedAt}}</mat-card-subtitle>
                  <img mat-card-image src="{{article.urlToImage}}" >	
                  <mat-card-actions>	{{article.description}}</mat-card-actions>
                  <a href="{{article.url}}" class="btn btn-primary">Read More</a>
              </mat-card>   
            </div> 
          </div>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>





