<div id="accordion">
        <div class="card" *ngFor="let article of sports">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"  aria-controls="collapseOne">
                {{article.title}}
                <img src="{{article.urlToImage}}" style="width:70px">
              </button>            
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              {{article.description}}
            </div>
          </div>
        </div>

      </div>